---
import Whatsapp from "./img/Whatsapp.astro"
import MailIcon from "./img/MailIcon.astro"
import LocationIcon from "./img/LocationIcon.astro"
---
<section class="w-full pt-10 bg-gradient-to-r  from-violeta-1 via-violeta-2 to-violeta-3  text-celeste ">
<h2 class="text-4xl text-center font-black pt-7 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"> Contactame</h2>
<p class=" text-3xl text-center pt-3 pb-5 font-semibold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" >Para más información, contáctame sin compromiso.</p>
<article class="pl-5 md:ml-20 text-3xl flex md:justify-center md:gap-60">
    <div class="h-full pb-4">
        <h4 class=" py-10 font-semibold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">Datos:</h4>
        <p class=" flex gap-2 items-center  pb-7 font-semibold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]" ><Whatsapp class="size-6"></Whatsapp> 092665328</p>
        <p class=" flex gap-2 items-center  pb-7 font-semibold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"><MailIcon class="size-6"></MailIcon> correo@gmail.com</p>
        <p class=" flex gap-2  items-center font-semibold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"><LocationIcon class="size-6"></LocationIcon> Durazno, Uruguay</p>
    </div>
    
        <img src="/contactameImg.webp" class="animate-pulse hidden md:block"/>
    
</article>
</section>
