---
import Whatsapp from "./img/Whatsapp.astro"
import MailIcon from "./img/MailIcon.astro"
import LocationIcon from "./img/LocationIcon.astro"
---
<section>
<h2 class="text-white"> Contactame</h2>
<p class="text-white ">Para más información, contáctame sin compromiso.</p>
<p class="text-white flex gap-2 items-center" ><Whatsapp class="size-4"></Whatsapp> 092665328</p>
<p class="text-white flex gap-2 items-center"><MailIcon class="size-4"></MailIcon> correo@gmail.com</p>
<p class="text-white flex gap-2 items-center"><LocationIcon class="size-4"></LocationIcon> Durazno, Uruguay</p>
</section>
