---
import LogoIconFMcode from "./img/LogoIconFMcode.astro"
---
<footer class="bg-violeta-4 text-blanco1 flex items-center font-sans tracking-wide justify-center">
    
      <p class="text-[15px] leading-loose"><LogoIconFMcode class="size-12 fill-blanco1"></LogoIconFMcode> <div class="text-base"><span class="font-semibold">FM</span><span class="font-meriendaFont font-semibold">Codev</span></div></div>. All rights reserved.</p>
    
  </footer>