---
import LogoIcon from "./img/LogoIconFMcode.astro"
const nombreEmpresa="{FMcode}"
---

<header class="flex items-center bg-violeta-4 text-celeste justify-between px-3 sticky top-0 z-50" > 
    <div class="flex items-center"><LogoIcon class="size-20 fill-celeste"></LogoIcon> <span class="text-2xl">{nombreEmpresa} </span></div>
    
  
    <nav  class="font-mono gap-3">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>
</header>
