---
import LogoIcon from "./img/LogoIconFMcode.astro"
const nombreEmpresa="{FMcode}"
---

<header class="flex items-center bg-stone-400 justify-between px-3" > 
    <div class="flex items-center"><LogoIcon class="size-20"></LogoIcon> <span class="text-2xl">{nombreEmpresa} </span></div>
    <nav class="font-mono gap-3 ">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>
</header>
