---
 
---
<section class=" bg-imagen-1 bg-cover bg-fixed">
    <div class="flex items-center backdrop-blur-md py-5">
        <p class="text text-6xl text-white mx-6 md:w-1/2 h-full text-pretty">
        Transformamos ideas en <span class="text-celeste uppercase font-black animate-pulse drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">soluciones</span> , creando herramientas que no solo  <span class="text-celeste uppercase font-black animate-pulse drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"> resuelven problemas</span> , sino que también abren <span class="text-celeste uppercase font-black animate-pulse drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">nuevas oportuidades</span>
    </p>
    <img src="/desarolladorImg.webp" class="w-1/2 hidden md:block"/>
    </div>
   
</section>