---
 
---
<section class="flex items-center">
    <p class="text text-7xl text-white mx-6 w-1/2 h-full text-pretty">
        Transformamos ideas en <span class="text-verde uppercase font-black animate-pulse">soluciones</span> , creando herramientas que no solo  <span class="text-verde uppercase font-black animate-pulse"> resuelven problemas</span> , sino que también abren <span class="text-verde uppercase font-black animate-pulse">nuevas oportuidades</span>
    </p>
    <img src="/desarolladorImg.webp" class="w-1/2 "/>
</section>