---

---
<section class="bg-gradient-to-r  from-violeta-3 via-violeta-2 to-violeta-1 text-celeste py-6">
    <h2 class=" text-4xl font-black text-center p-16 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">Sobre nosotros</h2>
    <div class="flex items-center">
    <img class="hidden md:block md:w-1/2" src="/about.webp"/>
    <p class=" md:w-1/2 font-semibold text-3xl text-pretty px-5 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">Bienvenidos a nuestra empresa, una firma joven e innovadora de desarrollo de software ubicada en el corazón de Durazno, Uruguay. Somos un equipo dinámico y apasionado por hacer realidad tus ideas digitales. Nos especializamos en el desarrollo web, aplicaciones móviles y soluciones de software a medida, comprometidos en ayudar a empresas y personas a prosperar en el acelerado mundo digital de hoy.</p>
    </div>
    
</section>