---

---
<section class="bg-white">
    <h2 class="text-black text-4xl font-black text-center my-10">Sobre nosotros</h2>
    <div class="flex items-center">
    <img class="w-1/2" src="/about.webp"/>
    <p class="w-1/2 font-semibold text-black text-3xl text-pretty">Nos dedicamos al desarrollo de software, transformando ideas en soluciones digitales. Fundada con la misión de ofrecer servicios personalizados que superen las expectativas de cada cliente, cada proyecto es una oportunidad para aportar innovación y calidad. Trabajamos de cerca contigo para asegurar que tus necesidades tecnológicas estén en el centro de cada línea de código que escribimos.</p>
    </div>
    
</section>